{% extends "base.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<h2> <b>Сброс пароля</b> </h1>
<h4> Забыли свой пароль? Введить свой e-mail адрес ниже и мы вышлем вам на почту форму для сброса пароля.</h4>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}{{ form.email.errors }}{% endif %}
        <div>
            {% comment %} <p><b>E-mail</b></p> {% endcomment %}
            <div>
            <input type="email" placeholder="Введите ваш e-mail адрес" name="email">
            {% comment %} <button type="submit">Сбросить пароль</button> {% endcomment %}
            <input type="submit" value="Сбросить пароль" />
            {% comment %} <a type="submit">Сбросить пароль</a> {% endcomment %}
            </div>
            <br>
            <p><a href="/">Вернуться на главную</a></p>
        </div>
</form>
    
{% endblock %}